# HGAC Traffic Modeling Data Combine

In [4]:
import csv
import pandas as pd

# Path to the CSV file
AM3HR_HBNW_path = 'C:/Users/YangL1/OneDrive - AECOM/Desktop/Local Project Folder/REAL 2.0/Data/OD AM3HR HBNW Vehicles.csv'

In [5]:
# Read the CSV file using pandas
AM3HR_HBNW = pd.read_csv(AM3HR_HBNW_path)

In [6]:
AM3HR_HBNW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27699168 entries, 0 to 27699167
Data columns (total 12 columns):
 #   Column      Dtype
---  ------      -----
 0   1           int64
 1   1.1         int64
 2   0.000000    float64
 3   0.000000.1  float64
 4   0.000000.2  float64
 5   0.000000.3  float64
 6   0.000000.4  float64
 7   0.000000.5  float64
 8   0.000000.6  float64
 9   0.000000.7  float64
 10  0.000000.8  float64
 11  0.000000.9  float64
dtypes: float64(10), int64(2)
memory usage: 2.5 GB

In [10]:
# To access specific columns:
# For example, to access the first column:
#first_column = data['Column Name']
# Do something with the column

# To access specific rows:
# For example, to access the first row:
first_row = AM3HR_HBNW.loc[0]
# Do something with the row
first_row

1             1.0
1.1           2.0
0.000000      0.0
0.000000.1    0.0
0.000000.2    0.0
0.000000.3    0.0
0.000000.4    0.0
0.000000.5    0.0
0.000000.6    0.0
0.000000.7    0.0
0.000000.8    0.0
0.000000.9    0.0
Name: 0, dtype: float64

In [12]:
AM3HR_HBNW.head(20)

,1,1.1,0.000000,0.000000.1,0.000000.2,0.000000.3,0.000000.4,0.000000.5,0.000000.6,0.000000.7,0.000000.8,0.000000.9
0,1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,1,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
print("Number of rows:", AM3HR_HBNW.shape[0])

Number of rows: 27699168

In [20]:
# Filter rows where column A equals 1 and column B equals 1
AM3HR_HBNW_filtered = AM3HR_HBNW[(AM3HR_HBNW['1'] == 1) & (AM3HR_HBNW['1.1'] == 2)]

print(AM3HR_HBNW_filtered)

   1  1.1  0.000000  0.000000.1  0.000000.2  0.000000.3  0.000000.4  \
0  1    2       0.0         0.0         0.0         0.0         0.0

   0.000000.5  0.000000.6  0.000000.7  0.000000.8  0.000000.9
0         0.0         0.0         0.0         0.0         0.0

In [22]:
# Count the number of rows
num_rows = len(AM3HR_HBNW_filtered)

# Print the count
print("Number of rows:", num_rows)

Number of rows: 1

In [23]:
# Calculate the sum for each column
column_sums = AM3HR_HBNW.sum()

# Print the column sums
for column_name, column_sum in column_sums.iteritems():
    print(f"Sum of {column_name}: {column_sum}")

Sum of 1: 72904212807.0
Sum of 1.1: 72904212807.0
Sum of 0.000000: 257805.20839100052
Sum of 0.000000.1: 235021.525732
Sum of 0.000000.2: 678472.0146420001
Sum of 0.000000.3: 74618.48509999995
Sum of 0.000000.4: 64293.316798
Sum of 0.000000.5: 171207.13811100024
Sum of 0.000000.6: 28052.504701999955
Sum of 0.000000.7: 22366.769999999986
Sum of 0.000000.8: 49930.75119900001
Sum of 0.000000.9: 1571002.299887001

In [25]:
# Select row 1 and columns 3 to 11
selected_row = AM3HR_HBNW.iloc[500000, 2:11]

# Sum the selected values
total = selected_row.sum()

# Get the value in the 12th column for row 1
column_12_value = AM3HR_HBNW.iloc[500000, 11]

# Check if the sum is equal to the value in the 12th column
if total == column_12_value:
    print("The sum is equal to the value in the 12th column.")
else:
    print("The sum is not equal to the value in the 12th column.")

The sum is equal to the value in the 12th column.